<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="X-Total-Count" value="13" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
        </staticContent>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/src/app/services/stub/booking.json" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
	<system.web>
	<customErrors defaultRedirect="/src/app/services/stub/booking.json" mode="On">
	  <error statusCode="404" redirect="/src/app/services/stub/booking.json" />
	</customErrors>
	</system.web>
</configuration>
